.feature-row {
    background-color: #31313d;
    display: flex;
    flex-direction: row;
}

.feature-row .fill-query--label {
    font-size: 12px;
    font-weight: 600;
}

.table-feature {
    background-color: #31313d;
}
