
.jobs-container {
    display: flex;
    justify-content: flex-end;
}

.time-job--button .custom-time--overlay {
    right: 0;
    position: relative;
    top: 5px;
}

.time-job--button .custom-time--container {
    top: 0;
}

.jobs-container > button {
    width: 110px;
}