
.actions-container {
    display: flex;
    justify-content: flex-end;
}

.time-job--button {
    position: relative;
}

.time-job--button .btn {
    width: 110px;
}

.time-job--button .dropdown-toggle {
    display: flex!important;
}

.time-job--button .custom-time--overlay {
    right: 0;
    position: relative;
    top: 5px;
}

.time-job--button .custom-time--container {
    top: 0;
}
