.viz-type-selector--option > div > p {
    margin: 0;
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    bottom: 18px;
    left: 150px;
    width: calc(100% - 168px);
    /* text-align: center; */
    /* display: inline-block; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    top: 18px;
}
